@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Muli:200i,400,600,900|Roboto:300&display=swap");
/* Run these through a font converter to make it work on all browsers */
@font-face {
  font-family: "Gill Sans Ultra Bold";
  src: url(../fonts/gill-sans-webfont/GillSansUltraBold.woff) format("woff");
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

h2,
h3,
h4,
h5,
a {
  font-family: "Muli", sans-serif;
  margin: 0;
}

/* Landing page - Aaron White */
h1 {
  font-family: "Gill Sans Ultra Bold";
  font-size: 6rem;
  letter-spacing: 0.5rem;
}

/* Landing page - intro, bio intro */
h2 {
  font-size: 2rem;
  font-weight: 400;
}

/* General header - portfolio company name, skill & employment heading */
h3 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
}

/* Skill names */
h4 {
  font-weight: 600;
}

/* Pre headings for portfolio and employment */
h5 {
  font-weight: 200;
}

body {
  margin: 0;
  font-family: "Gill Sans Light";
  /*   background-color: #eaf5f6; */
  background: url("../images/blue-bg.svg") no-repeat 50% 50%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

nav .social {
  height: 100%;
  width: 100%;
  padding: 1%;
}

nav .social img {
  padding-right: 3%;
}

nav .social #github {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav .nav-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav li {
  float: right;
  padding: 0 3%;
}

nav a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

nav a :focus {
  color: black;
}

.container {
  padding: 0 15%;
}

.cover-sec {
  height: 130vh;
  /*   Find a way to sort this out */
  background: url(../images/svg-bgs/cover-component-bg.svg);
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.cover-sec h1 {
  margin-top: -30vh;
  line-height: 5.4rem;
  position: relative;
  /* DECIDE ON TEXT SHADOW */
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.08);
}

.cover-sec h1:before {
  content: "Hi im";
  display: block;
  font-family: "Berkshire Swash", cursive;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.cover-sec h1:after {
  content: "";
  position: absolute;
  border-right: 1px solid white;
  height: 70%;
  width: 1px;
  bottom: 5%;
  right: 0;
}

.cover-sec h2 {
  /*check to see if its responsive */
  margin-top: -35vh;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  font-size: 1.5rem;
  padding-left: 2rem;
  /* This is how I dropped it down, check to see if its responsive */
  padding-top: 2rem;
}

.cover-sec #bobble {
  position: absolute;
  margin-bottom: -5px;
  bottom: 0;
}

.bio {
  padding: 10% 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10%;
}

.bio img {
  /* Sort out drop shadow */
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.08));
          filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.08));
}

.skills {
  background: #404d53;
  margin-top: 10%;
  text-align: center;
  position: relative;
  padding: 13% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
}

.skills .skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  padding-bottom: 3rem;
}

.skills .skill-list .skill {
  padding: 0 15%;
}

.skills .skill-list img {
  width: 100%;
}

.skills h3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.skills #top-wave {
  position: absolute;
  top: 0;
  left: 0;
}

.skills #bottom-wave {
  position: absolute;
  bottom: 0;
  left: 0;
}

.employment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "heading heading" "top-line top-line" "job1 job2" "bottom-line bottom-line";
  padding-top: 10%;
  grid-gap: 0 10%;
}

.employment .job:nth-of-type(1) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: job1;
}

.employment .job:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: job2;
}

.employment .squiggly-line {
  width: 15%;
  display: block;
  margin: 0 auto;
  padding: 5% 0;
}

.employment .squiggly-line:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: top-line;
}

.employment .squiggly-line:nth-of-type(2) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: bottom-line;
}

.employment .title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
  text-align: center;
  padding-top: 10%;
}

.portfolio {
  padding: 10% 0;
  text-align: center;
}

.portfolio .squiggly-line {
  width: 15%;
}

.portfolio .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#d1997d), to(#d7a163));
  background-image: linear-gradient(to right, #d1997d, #d7a163);
  overflow: hidden;
  border-radius: 20px;
  border-top-right-radius: 0;
  margin: 10% 0;
  -webkit-box-shadow: -8px 16px 31px -15px rgba(0, 0, 0, 0.44);
          box-shadow: -8px 16px 31px -15px rgba(0, 0, 0, 0.44);
}

.portfolio .item img {
  /* Sort out size of img properly */
  height: 100%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.portfolio .item span {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0)), to(rgba(244, 238, 151, 0.4)));
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(244, 238, 151, 0.4));
  margin: 2rem 2rem 2rem 2rem;
  text-align: right;
  padding: 1rem;
}

.portfolio .right img {
  padding-right: 2rem;
}

.portfolio .right span {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(rgba(244, 238, 151, 0.4)));
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0), rgba(244, 238, 151, 0.4));
  text-align: left;
}

.contact {
  text-align: center;
  display: -ms-grid;
  display: grid;
  grid-gap: 10%;
  padding-top: 10%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 10% 0;
}

.contact img {
  width: 100%;
}

.contact input,
.contact textarea {
  width: 100%;
  border-radius: 0.4rem;
  border: 1px solid grey;
  font-size: inherit;
  padding: 0.7rem;
  margin: 0.5rem 0;
}

footer {
  text-align: center;
  background-size: cover;
  height: 100%;
  background-color: #9db4c0;
  margin-top: 5%;
}

footer svg {
  margin-left: -1px;
}

footer p {
  margin: 0;
  padding: 5% 0;
}
/*# sourceMappingURL=style.css.map */