/* Run these through a font converter to make it work on all browsers */
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Cookie|Shadows+Into+Light+Two&display=swap");
@font-face {
  font-family: "Gill Sans Ultra Bold";
  src: url(../fonts/gill-sans-webfont/GillSansUltraBold.woff) format("woff");
}

@font-face {
  font-family: "Gill Sans Light";
  src: url(../fonts/gill-sans-webfont/Gill-Sans-Light.woff) format("woff");
}

@font-face {
  font-family: "Butler Ultra Light";
  src: url(../fonts/Butler_Webfont/Butler-UltraLight.woff) format("woff");
}

@font-face {
  font-family: "Butler";
  src: url(../fonts/Butler_Webfont/Butler.woff) format("woff");
}

@font-face {
  font-family: "Butler Light";
  src: url(../fonts/Butler_Webfont/Butler-Light.woff) format("woff");
}

@font-face {
  font-family: "Butler Bold";
  src: url(../fonts/Butler_Webfont/Butler-Bold.woff) format("woff");
}

body {
  margin: 0;
  font-family: "Gill Sans Light";
}

p {
  font-family: "Butler Light";
  font-size: 1.2rem;
}

h3 {
  font-size: 3rem;
  font-family: "Bulter Bold";
  letter-spacing: 0.3rem;
  text-align: left;
}

nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .social {
  height: 100%;
  width: 100%;
  padding: 1%;
}

nav .social img {
  padding-right: 3%;
}

nav .social #github {
  -webkit-filter: invert(1);
          filter: invert(1);
}

nav .nav-links {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav li {
  float: right;
  padding: 0 3%;
}

nav a {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

nav a :focus {
  color: white;
}

.container {
  padding: 0 10%;
}

.cover-sec {
  height: 100vh;
  /*   background: #253237; */
  background: url(../images/cover-bg.jpg);
  background-size: cover;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.cover-sec h1 {
  font-family: "Gill Sans Ultra Bold";
  font-size: 6rem;
  letter-spacing: 0.5rem;
  line-height: 5.4rem;
  position: relative;
}

.cover-sec h1:before {
  content: "Hi im";
  display: block;
  font-family: "Berkshire Swash", cursive;
  /* font-family: "Shadows Into Light Two", cursive; */
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.cover-sec h1:after {
  content: "";
  position: absolute;
  border-right: 1px solid white;
  height: 70%;
  width: 1px;
  bottom: 5%;
  right: 0;
}

.cover-sec h2 {
  width: 20%;
  font-family: "Bulter Ultra Light";
  padding-left: 2rem;
  /* This is how I dropped it down, check to see if its responsive */
  padding-top: 2rem;
}

.cover-sec #bobble {
  position: absolute;
  margin-bottom: -5px;
  bottom: 0;
}

.bio {
  padding-top: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10%;
}

.skills {
  /*   background: #ced9df; */
  margin-top: 10%;
  /*   background-image: url(../images/skills-bg.svg);
  background-size: cover;
  background-position: top; */
  text-align: center;
  position: relative;
}

.skills .bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -20;
}

.skills .skill-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.skills .skill-list img {
  width: 100%;
}

.skills h3 {
  color: white;
  padding-top: 5rem;
}

.skills .foreground-bg {
  height: 100%;
  width: 100vw;
  background: #253237;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

.skills .background-bg {
  height: 100%;
  width: 100vw;
  background: #5c6b73;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -12.5%;
  z-index: -20;
  /*     padding: 10% 0;
    margin-top: -10%; */
}

.employment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "heading heading";
  padding-top: 20%;
}

.employment h3 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: heading;
}

#Layer_1 path {
  border: 5px solid red;
}

footer {
  text-align: center;
}

footer p {
  margin: 0;
  background: #253237;
}

footer img {
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: -10px;
}
/*# sourceMappingURL=style.css.map */