/* Run these through a font converter to make it work on all browsers */
@font-face {
  font-family: "Gill Sans Ultra Bold";
  src: url(../fonts/gill-sans-webfont/GillSansUltraBold.woff) format("woff");
}
@font-face {
  font-family: "Gill Sans Light";
  src: url(../fonts/gill-sans-webfont/Gill-Sans-Light.woff) format("woff");
}

@font-face {
  font-family: "Butler Ultra Light";
  src: url(../fonts/Butler_Webfont/Butler-UltraLight.woff) format("woff");
}

@font-face {
  font-family: "Butler";
  src: url(../fonts/Butler_Webfont/Butler.woff) format("woff");
}

@font-face {
  font-family: "Butler Light";
  src: url(../fonts/Butler_Webfont/Butler-Light.woff) format("woff");
}

@font-face {
  font-family: "Butler Bold";
  src: url(../fonts/Butler_Webfont/Butler-Bold.woff) format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash|Cookie|Shadows+Into+Light+Two&display=swap");

body {
  margin: 0;
  font-family: "Gill Sans Light";
}

p {
  font-family: "Butler Light";
  font-size: 1.2rem;
}

h3 {
  font-size: 3rem;
  font-family: "Bulter Bold";
  letter-spacing: 0.3rem;
  text-align: left;
}

nav {
  color: white;
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  .social {
    height: 100%;
    width: 100%;
    padding: 1%;
    img {
      padding-right: 3%;
    }
    #github {
      filter: invert(1);
    }
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  li {
    float: right;
    padding: 0 3%;
  }
  a {
    color: white;
    text-decoration: none;
    list-style-type: none;
    :focus {
      color: white;
    }
  }
}

.container {
  padding: 0 10%;
}

.cover-sec {
  height: 100vh;
  /*   background: #253237; */
  background: url(../images/cover-bg.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  h1 {
    font-family: "Gill Sans Ultra Bold";
    font-size: 6rem;
    letter-spacing: 0.5rem;
    line-height: 5.4rem;
    position: relative;
  }
  h1:before {
    content: "Hi im";
    display: block;
    font-family: "Berkshire Swash", cursive;
    /* font-family: "Shadows Into Light Two", cursive; */
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
  }
  h1:after {
    content: "";
    position: absolute;
    border-right: 1px solid white;
    height: 70%;
    width: 1px;
    bottom: 5%;
    right: 0;
  }
  h2 {
    width: 20%;
    font-family: "Bulter Ultra Light";
    padding-left: 2rem;
    /* This is how I dropped it down, check to see if its responsive */
    padding-top: 2rem;
  }
  #bobble {
    position: absolute;
    margin-bottom: -5px;
    bottom: 0;
  }
}

.bio {
  padding-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 10%;
  img {
  }
  p {
  }
}

.skills {
  /*   background: #ced9df; */
  margin-top: 10%;
  /*   background-image: url(../images/skills-bg.svg);
  background-size: cover;
  background-position: top; */
  text-align: center;
  position: relative;
  .bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -20;
  }
  .skill-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    img {
      width: 100%;
    }
  }
  h3 {
    color: white;
    padding-top: 5rem;
  }
  .foreground-bg {
    height: 100%;
    width: 100vw;
    background: #253237;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
  }
  .background-bg {
    height: 100%;
    width: 100vw;
    background: #5c6b73;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -12.5%;
    z-index: -20;
    /*     padding: 10% 0;
    margin-top: -10%; */
  }
}

.employment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "heading heading";
  padding-top: 20%;
  h3 {
    grid-area: heading;
  }
}

.portfolio {
}

.bg-apply {
  background: purple;
}

.contact {
}

footer {
  text-align: center;
  p {
    margin: 0;
    background: #253237;
  }
  img {
    filter: invert(1);
    margin-bottom: -10px;
  }
}
