@import "fonts";
@import "text-styles";

body {
  margin: 0;
  font-family: "Gill Sans Light";
  /*   background-color: #eaf5f6; */
  background: url("../images/blue-bg.svg") no-repeat 50% 50%;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  background: black;
  cursor: pointer;
  padding: 5% 10%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  padding: 10% 35%;
}

nav {
  display: flex;
  width: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 100;
  button {
    font-size: 12px;
    height: 100%;
    padding: 1.5% 4%;
    margin-right: 3%;
    vertical-align: top;
    font-weight: 400;
  }
  .social {
    height: 100%;
    width: 100%;
    padding: 1%;
    img {
      padding-right: 3%;
    }
  }
  .nav-links {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  li {
    float: right;
    padding: 0 3%;
  }
  a {
    color: black;
    text-decoration: none;
    list-style-type: none;
    :focus {
      color: black;
    }
  }
}

.container {
  padding: 0 15%;
}

.cover-sec {
  height: 130vh;
  /*   Find a way to sort this out */
  background: url(../images/svg-bgs/cover-component-bg.svg);
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  h1 {
    margin-top: -30vh;
    line-height: 5.4rem;
    position: relative;
    /* DECIDE ON TEXT SHADOW */
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.08);
  }
  h1:before {
    content: "Hi im";
    display: block;
    font-family: "Berkshire Swash", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    line-height: 2rem;
  }
  h1:after {
    content: "";
    position: absolute;
    border-right: 1px solid white;
    height: 70%;
    width: 1px;
    bottom: 5%;
    right: 0;
  }
  h2 {
    /*check to see if its responsive */
    margin-top: -35vh;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(166, 173, 201, 0.2);
    font-size: 1.5rem;
    padding-left: 2rem;
    /* This is how I dropped it down, check to see if its responsive */
    padding-top: 2rem;
  }
  #bobble {
    position: absolute;
    margin-bottom: -5px;
    bottom: 0;
  }
}

.bio {
  padding: 10% 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 10%;
  img {
    /* Sort out drop shadow */
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.08));
  }
  p {
  }
}

.skills {
  background: #404d53;
  margin-top: 10%;
  text-align: center;
  position: relative;
  padding: 13% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: white;
  .skill-list {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-bottom: 3rem;
    .skill {
      padding: 0 15%;
    }
    img {
      width: 100%;
    }
  }
  h3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  #top-wave {
    position: absolute;
    top: 0;
    left: 0;
  }
  #bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.employment {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "heading heading"
    "top-line top-line"
    "job1 job2"
    "bottom-line bottom-line";
  padding-top: 10%;
  grid-gap: 0 10%;
  .job:nth-of-type(1) {
    grid-area: job1;
  }
  .job:nth-of-type(2) {
    grid-area: job2;
  }
  .squiggly-line {
    width: 15%;
    display: block;
    margin: 0 auto;
    padding: 5% 0;
  }
  .squiggly-line:nth-of-type(1) {
    grid-area: top-line;
  }
  .squiggly-line:nth-of-type(2) {
    grid-area: bottom-line;
  }
  .title {
    grid-area: heading;
    text-align: center;
    padding-top: 10%;
  }
}

.portfolio {
  padding: 10% 0;
  text-align: center;
  .squiggly-line {
    width: 15%;
  }
  .other-sites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5%;
    padding-top: 10%;
  }
  .item {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(to right, #d1997d, #d7a163);
    overflow: hidden;
    border-radius: 20px;
    border-top-right-radius: 0;
    margin: 10% 0;
    box-shadow: -8px 16px 31px -15px rgba(0, 0, 0, 0.44);
    img {
      /* Sort out size of img properly */
      height: 100%;
      padding-top: 2rem;
      padding-left: 2rem;
    }
    div {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    span {
      background-image: linear-gradient(
        to right,
        rgba(255, 0, 0, 0),
        rgba(244, 238, 151, 0.4)
      );
      margin: 2rem 2rem 2rem 2rem;
      text-align: right;
      padding: 1rem;
      display: flex;
      flex-direction: column;
    }
  }
  .right {
    img {
      padding-right: 2rem;
    }
    span {
      background-image: linear-gradient(
        to left,
        rgba(255, 0, 0, 0),
        rgba(244, 238, 151, 0.4)
      );
      text-align: left;
    }
  }
}

.contact {
  text-align: center;
  display: grid;
  grid-gap: 10%;
  padding-top: 10%;
  grid-template-columns: 1fr 1fr;
  padding: 10% 0;
  img {
    width: 100%;
  }
  input,
  textarea {
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid grey;
    font-size: inherit;
    padding: 0.7rem;
    margin: 0.5rem 0;
  }
}

footer {
  text-align: center;
  background-size: cover;
  height: 100%;
  background-color: #9db4c0;
  margin-top: 5%;

  svg {
    margin-left: -1px;
  }
  p {
    margin: 0;
    padding: 5% 0;
  }
}
